form#formid {
    width: fit-content;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}
  
input[type=file]::file-selector-button, input[type=submit] {
    /* margin-right: 20px; */
    border: none;
    background: #084cdf;
    padding: 10px 20px; 
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
  
input[type=file]::file-selector-button:hover, input[type=submit]:hover {
    background: #0d45a5;
}

.large-container {
	margin-left: 20px;
	margin-right: 20px;
}

#docList {
	height: 70vh; /* For 100% screen height */
	word-wrap: break-word;
}

#docList > .item:hover {
	cursor: pointer;
	background-color: #5F9EA0;
}

#docList > .item:active {
	background-color: gray;
}