  <!-- HEADER -->
  <nav class="ui secondary menu navbar">
    <div class="ui text container">
      <div class="header item">
        <i class="eye icon"></i>
        <a class="dashboard-link" href="/">Visuale</a>
      </div>
    </div>
  </nav>