<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

  <script src="/viz.js"></script>

  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>

  <%- include('../partials/header'); %>

  <div class="ui container">
    
    <h2 class="header item viz-title">
    </h2>

    <div class="ui centered grid">
      <div class="two column row">

        <div class="seven wide column">

          <h3 class="header item">
            Chart
          </h3>

          <div class="ui container segment chart-container-viz">
            <canvas id="canvas-viz"></canvas>
          </div>

        </div>

        <div class="six wide column">

          <h3 class="header">Metadata</h3>

          <div class="ui segments">

            <div class="ui segment">

              <h4 class="ui sub header">
                Description
              </h4>

              <p></p>
              <span id="viz-description"></span>

            </div>

            <div class="ui segment">

              <h4 class="ui sub header">
                Queries
              </h4>

              <div id="queries-list" class="ui list">
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  
  <script>
    var vizData = <%- JSON.stringify(viz) %>;
  
    buildChartPage(vizData);
  </script>  
</body>
</html>