<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
  <script src="/semantic/dist/semantic.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

  <script src="/viz.js"></script>

  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>

  <%- include('../partials/header'); %>

  <!-- MAIN CONTENT -->
  <div class="ui container">
    <h2 id="viz-title" class="header item">
    </h2>
    <div class="ui centered grid">
      <div class="two column row">

        <div class="eight wide column">
          <h3 class="header item">
            Chart
          </h3>
          <div class="ui container chart-container-viz">
            <canvas id="canvas-viz"></canvas>
          </div>
        </div>
        <div class="five wide column">
          <h3 class="header item">
            Metadata
          </h3>
          <h4 class="header item">
            Description
          </h4>
          <span id="viz-description"> 
          </span>
          <h4 class="header item">
            Queries
          </h4>
          <div id="queries-list" class="ui large celled list overflow">

          </div>
        </div>

      </div>
    </div>
  </div>
  
  <script>
    // pass data from server-side to viz.js script
    var vizData = <%- JSON.stringify(viz) %>;
  
    // call the buildChart function to create the chart
    buildChart(vizData);
  </script>  
</body>
</html>